<div style="height:280px;overflow: auto;">
<br>
<b>Measure:</b><select id="selector">
    <option value="ph">pH</option>
    <option value="water_temperature">Temperature</option>
    <option value="dissolved_oxygen">Oxygen</option>
    <option value="nitrite">Nitrite</option>
    <option value="nitrate">Nitrate</option>
    <option value="phosphate">Phosphate</option>
</select>
<div id="subContent"></div>
</div>