<div style="height:250px;">
<br>
<b>Measure:</b><select id="selector">
    <option value="ph">pH</option>
    <option value="water_temperature">Temperature</option>
    <option value="dissolved_oxygen">Oxygen</option>
</select>
<div id="subContent"></div>
</div>