<div style="height:350px;">
<br>
<b>Measure:</b><select id="selector">
    <option value="ph">pH</option>
    <option value="water_temperature">Temperature</option>
    <option value="dissolved_oxygen">Oxygen</option>
</select>
<canvas id="dataChart" width="400" height="325"></canvas>
</div>