{{#if hasNoData}}
        No data
    {{else}}
    <table id="ploggingHistoryTable" class="table table-bordered">
        <thead>
        <tr>
            <th width="250">Date</th>
            <th>Participants</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{date}}</th>
                <td>{{participants}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}