<div style="height:250px;overflow: auto;">
    {{#if hasNoData}}
    No photos
    {{else}}
        {{#each data}}
            <b>{{date}}</b>
            <div>
            {{#each photoIds}}
                <img id="{{this}}" class="img-thumbnail image" src="https://api.mwater.co/v3/images/{{this}}?h=100" style="max-height: 100px" onerror="this.onerror=null;this.src='img/no-image-icon.jpg';">
            {{/each}}
            </div>
        {{/each}}
    {{/if}}
</div>