<div class="row">
    <div class="col-md-7">
        <div><b>{{site.name}}</b></div>
        <div><b>Description:</b> {{site.desc}}</div>
        <div><b>Surface Water Type:</b> {{site.surface_water_type}}</div>
    </div>
    <div class="col-md-4"><img id="001e5e324d484e6f9371802d5f4aa7fb" class="img-thumbnail image" src="https://api.mwater.co/v3/images/001e5e324d484e6f9371802d5f4aa7fb?h=100" style="max-height: 100px" onerror="this.onerror=null;this.src='img/no-image-icon.jpg';"></div>
    <div class="col-md-1"></div>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" id="dataTab" href="#dataSection">Data</a></li>
    <li><a data-toggle="tab" id="speciesTab" href="#speciesSection">Species</a></li>
    <li><a data-toggle="tab" id="photosTab" href="#photosSection">Photos</a></li>
    <li><a data-toggle="tab" id="historyTab" href="#historySection">History</a></li>
</ul>
<div class="tab-content">
    <div id="dataSection" class="tab-pane fade in active">
    </div>
    <div id="speciesSection" class="tab-pane fade">
    </div>
    <div id="photosSection" class="tab-pane fade">
    </div>
    <div id="historySection" class="tab-pane fade">
    </div>
</div>