<div style="height:280px;overflow: auto;">
    <br/>
    <b>Action:</b>
    <select id="waterActionSelector">
        <option value="plogging">Plogging</option>
        <option value="flushing">Flushing challenge</option>
    </select>
    <br/>
    <br/>
    <div id="subContent"></div>
    
</div>