<div class="panel panel-default">
    <div class="panel-body">
        <div class="map-info">
            <form>
                <div class="radio">
                    <label>
                        <input type="radio" name="base_layers" value="bing_road" checked>
                        Roads
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="base_layers" value="bing_aerial">
                        Satellite
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>