<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Display</h3>
    </div>
    <div class="panel-body">
        <select id="selector">
            <option value="visited">Visited</option>
            <option value="turbidity">Turbidity</option>
            <option value="temperature">Temperature</option>
            <option value="oxygen">Oxygen</option>
            <option value="ph">pH</option>
            <option value="nitrite">Nitrite</option>
            <option value="nitrate">Nitrate</option>
            <option value="phosphate">Phosphate</option>
        </select>
    </div>
</div>