<div class="panel panel-default">
    <div class="panel-body">
        <select id="selector">
            <option value="Visit">None</option>
            <option value="Turbidity">Turbidity</option>
            <option value="Temperature">Temperature</option>
            <option value="Oxygen">Oxygen</option>
            <option value="pH">pH</option>
        </select>
    </div>
</div>