<div style="height:425px;">
<br>
<select id="selector">
    <option value="Turbidity">Turbidity</option>
    <option value="Temperature">Temperature</option>
    <option value="Oxygen">Oxygen</option>
    <option value="pH">pH</option>
</select>
<canvas id="dataChart" width="400" height="400"></canvas>
</div>