<div style="height:425px;">
    <br>
    <table id="speciesTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Measures</th>
            <th>02/05/2015</th>
            <th>02/25/2015</th>
            <th>03/05/2015</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Turbidity</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">pH</th>
            <td>5</td>
            <td>7</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">Temperature</th>
            <td>48</td>
            <td>50</td>
            <td>46</td>
        </tr>
        <tr>
            <th scope="row">Oxygen</th>
            <td>15</td>
            <td>38</td>
            <td>12</td>
        </tr>
        </tbody>
    </table>
</div>