html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.map-legend { 
    opacity: 0.8;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.map-brand {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    /*background: white;*/
    opacity: 0.8;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
    border-radius: 5px;
    /*margin-bottom: 20px !important;*/
}

.btn.orange {
    background-color: #e99855;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    min-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shadow {
    box-shadow: 0 10px 0 0 rgb(0 0 0 / 13%);
}

.shadow:hover {
    box-shadow: 0 10px 0 0 rgb(0 0 0 / 25%);
}

.btn.orange.active {
    background-color: #e07013;
}

.btn.orange.active.shadow {
    box-shadow: 0 10px 0 0 rgb(0 0 0 / 13%);
}

.btn.orange.active.shadow:hover {
    box-shadow: 0 10px 0 0 rgb(0 0 0 / 25%);
}

/* Remove or comment out the body padding at the bottom of the file */
/* body {
  padding: 20px;
} */