<div class="panel panel-default">
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:blue"></span> 6.5 - 8.5</p>
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:yellow"></span> 5 - 9</p>
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:red"></span> < 5 or >9</p>
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:gray"></span> no data</p>
    </div>
</div>