<div class="btn-group" role="group" aria-label="...">
  <button id="type_wwmc_main" type="button" class="btn btn-xs btn-default {{#unless isPlogging}}active{{/unless}}">Water Quality</button>
  <button id="type_wwmc_plogging" type="button" class="btn btn-xs btn-default {{#if isPlogging}}active{{/if}}">Plogging</button>
</div>