<div class="btn-group" role="group" aria-label="...">
  <button id="type_wwmc_main" type="button" class="btn orange shadow {{#unless isWaterAction}}active{{/unless}}">Water Quality</button>
  {{!-- <button id="type_wwmc_plogging" type="button" class="btn orange shadow {{#if isWaterAction}}active{{/if}}">Plogging</button> --}}
  <button id="type_wwmc_water_action" type="button" class="btn orange shadow dropdown-toggle {{#if isWaterAction}}active{{/if}}">Water Actions</button>
  
</div>