<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Legend</h3>
    </div>
    <div class="panel-body">
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:blue"></span>Visited</p>
        <p><span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:gray"></span>No visit</p>
    </div>
</div>