<div class="panel panel-default map-legend">
    <div class="panel-heading">
        <h3 class="panel-title">
            Filter by water action
        </h3>
    </div>
    <div class="panel-body">
        <select id="selector" class="form-control">
            <option value="plogging">Plogging</option>
            <option value="flushing">Flushing challenge</option>
        </select>
    </div>
</div>