<div class="panel panel-default map-legend">
    <div class="panel-heading">
        <h3 class="panel-title">
            Water Actions
        </h3>
    </div>
    <div class="panel-body">
        <div>Showing all water actions</div>
    </div>
</div>